
.hoverText {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  color: #aab3ff;
  font-size: 60px;
  text-align: center;
  display: inline-block;
  line-height: 1.2;
}

.hoverText span {
  display: inline-block;
  transition: font-weight 0.35s, color 0.35s;
  white-space: pre;
  cursor: default;
}
